# mariadb_quick_review client configuration file
# created by Edward Stoever for MariaDB Support

# Use this file to specify any standard client options 
# If none are specified, the script will attempt a socket connection from 
# unix account, such as root@localhost.

# FOR IMPORT OF QUICK REVIEW FILES,
# SCRIPT MUST BE RUN ON HOST OF DATABASE

# The group name must be [quick_review_import]
[quick_review_import]
# user = edward
# password = "password"
# host = localhost
# port = 3306
# socket = /run/mysqld/mysqld.sock
# ssl-cert = /etc/mysql/client-cert.pem
# ssl-key  = /etc/mysql/client-key.pem
# ssl-verify-server-cert = on
# ssl-ca = /etc/ssl/certs/skysql_chain_2022.pem
