# EVENTS_WAITS_SUMMARY_GLOBAL_BY_EVENT_NAME
[mariadb-import]
fields-terminated-by = '\t'
fields-optionally-enclosed-by = '"'
lines-terminated-by = '\n'
fields-escaped-by = '\\'
columns = 'RUN_ID,EVENT_NAME,COUNT_STAR,SUM_TIMER_WAIT,MIN_TIMER_WAIT,AVG_TIMER_WAIT,MAX_TIMER_WAIT'
