# GTID_POSITIONS
[mariadb-import]
fields-terminated-by = ',' 
fields-optionally-enclosed-by = '"' 
lines-terminated-by = '\n' 
fields-escaped-by = '\\'  
columns = 'RUN_ID,TICK,HOSTNAME,GTID_BINLOG_POS,GTID_BINLOG_STATE,GTID_CURRENT_POS,GTID_SLAVE_POS'
