# OPEN_TABLES
[mariadb-import]
fields-terminated-by = '\t'
fields-optionally-enclosed-by = '"'
lines-terminated-by = '\n'
fields-escaped-by = '\\'
columns = 'RUN_ID,TABLE_SCHEMA,TABLE_NAME,IN_USE,NAME_LOCKED'
