# PLUGINS
[mariadb-import]
fields-terminated-by = '\t'
lines-terminated-by = '\n'
fields-escaped-by = '\\'
columns = 'RUN_ID,PLUGIN_NAME,PLUGIN_VERSION,PLUGIN_STATUS,PLUGIN_TYPE,PLUGIN_TYPE_VERSION,PLUGIN_LIBRARY,PLUGIN_LIBRARY_VERSION,LOAD_OPTION,PLUGIN_MATURITY,PLUGIN_AUTH_VERSION'

