# SERVER_PERFORMANCE
[mariadb-import]
fields-terminated-by = '\t' 
lines-terminated-by = '\n' 
fields-escaped-by = '\\'  
columns = 'RUN_ID,TICK,HOSTNAME,REDO_LOG_OCCUPANCY_PCT,THREADS_CONNECTED,HANDLER_READ_RND_NEXT,COM_SELECT,COM_INSERT,COM_UPDATE,COM_DELETE,COM_XA_COMMIT,SLOW_QUERIES,INNODB_ROW_LOCK_CURRENT_WAITS,INNODB_BUFFER_POOL_READS,INNODB_BUFFER_POOL_READ_REQUESTS,MEMORY_USED,BINLOG_COMMITS,INNODB_BUFFER_POOL_BYTES_DATA,INNODB_DATA_WRITES,INNODB_OS_LOG_WRITTEN,INNODB_HISTORY_LIST_LENGTH,COM_STMT_PREPARE,COM_STMT_EXECUTE,QCACHE_QUERIES_IN_CACHE,QCACHE_FREE_MEMORY,QCACHE_HITS,QCACHE_INSERTS,QCACHE_LOWMEM_PRUNES'
