# TABLE_STATISTICS
[mariadb-import]
fields-terminated-by = '\t'
lines-terminated-by = '\n'
fields-escaped-by = '\\'
columns = 'RUN_ID,TABLE_SCHEMA,TABLE_NAME,ROWS_READ,ROWS_CHANGED,ROWS_CHANGED_X_INDEXES'

